*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Inconsolata', monospace;
}

::placeholder{
    color: rgba(255, 255, 255, 0.2);
}

body{
    background-image: url(/src/assets/loginImg.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

.loginForm{
    background: rgba(255, 255, 255, 0.25);
    width: 400px;
    margin: auto;
    margin-top: 16%;
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 40px;
}

h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

input{
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    font-weight: bolder;
    text-align: center;
    border-radius: 5px;
    border:  1px solid white;
    background: rgba(255, 255, 255, 0.35);
}

#btnValidar{
    margin-top: 10px;
    background: teal;
    border: 1px solid teal;
    color: white;
    border-radius: 10px;
}

label{
    font-style: italic;

    width: 50px;
}

#checkEdad{

    width: 20px;
    border: none;
}

.confirmarEdad{

    padding: 2px 46px;
}

.data{
    background: rgba(255, 255, 255, 0.16);
    padding: 15px 15px;
    border-radius: 5px;
    width: 1200px;
    margin: auto;
    text-align: justify;
    font-size: 11px;
    box-sizing: border-box;
}

#strongPolitica{
    font-size: 14px;
}

/* Eventos */

#btnValidar:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(100, 225, 225);
    border: 1px solid white;
    
}

input:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);

}

